<p>Test twig template!</p>
 
<p>test_var: {{ test_var }}</p>

{% if user.id %}
    <ul class="user">
        <li class="user__welcome"><a href="{{ path('entity.user.canonical', {'user': user.id}) }}" rel="nofollow">{{ user.getDisplayName() }}</a></li>
        {#<li class="user__signout"><a href="/user/logout" rel="nofollow">Выход</a></li>#}
    </ul>
{% else %}
    <ul class="user">
        <li class="user__signin"><a href="/user/login">Вход</a></li>
        <li class="user__registration"><a href="/user/register">Регистрация</a></li>
    </ul>
{% endif %}


{#{% if submission is not empty %}#}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
            <th>Тимлид</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
            <tr>
                <td>
                    {{ submission['sid'] }}
                </td>
                <td>
                    {{ submission['locked'] }}
                </td>
                <td>
                    view
                </td>
                <td>
                    edit
                </td>
                <td>
                    {{ submission['created'] }}
                </td>
                <td>
                    {{ submission['changed'] }}
                </td>
                <td>
                    {{ submission['id_teamlead'] }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{# {% endif %} #}